.button-primary {
  color: black !important;
  border-radius: 0;
  transition: all .5s ease-out;
  -webkit-box-shadow: 3px 10px 21px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 10px 21px -5px rgba(0,0,0,0.75);
  box-shadow: 3px 10px 21px -5px rgba(0,0,0,0.75);

  &:hover {
    transition: all .5s ease-in;
    background-color: #fcd238;
  }
}


.header-logo-image {
  width: 50px;
}

.hero-media-image {
  width: 700px;
  -webkit-box-shadow: 3px 10px 21px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 10px 21px -5px rgba(0,0,0,0.75);
  box-shadow: 3px 10px 21px -5px rgba(0,0,0,0.75);
}

.site-header {
  background-image: linear-gradient(rgba(251, 192, 45, 0.5), rgba(251, 192, 45, 0.5)), url("../../dist/images/rebelote/landing.jpg");
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0px -10px 26px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px -10px 26px -16px rgba(0,0,0,0.75);
  box-shadow: inset 0px -10px 26px -16px rgba(0,0,0,0.75);
}

.hero-paragraph {
  color: black;
}

.section-paragraph {
  text-align: justify;
}

.partners{
  margin: auto;
    width: 70vw;
    h2 {
      text-align: center;
    }
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .partner {
        width: 20vw;
        padding: 3vw;
        box-sizing: border-box;
        img {
        height: auto;
        width: 100%;
        }
      }
    }
}

.cta::before {
  background-image: none !important;
}

h1 {
  font-size: 100px;
  line-height: 100px;
}

@include media('>large') {
  .container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: none !important;
    &>* {
      flex: 1;
      padding: 30px;
      margin: 0 20px;
    }
    margin-bottom: 7vw;
  }
}

.container {
  max-width: 1440px;
}

.hero>.container {
  max-width: 1200px;
}

.hero-paragraph {
  font-size: 1.4em;
}

@include media('>medium') {
  .hero-inner {
    padding: 0 15vw;
    .hero-media {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@include media('<=small') {
  h1 {
    font-size: 65px;
    line-height: 65px;
  }

  .hero-paragraph {
    font-size: 1em;
    a.button {
      margin: 0 20px;
    }
  }
}

@include media('<=medium') {
  .hero-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .hero-media {
      padding: 60px;
      img {
        width: 100%;
      }
    }
  }
}

@include media('<medium') {
  .hero-media {
    padding: 10px !important;
  }
}

@include media('<large') {
  .partners>div {
    flex-wrap: wrap;
  }

  .partner {
    padding: 0;
    width: 200px !important;
  }
}

.text-center {
  text-align: center;
}
